@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Light-gray);
}

.card {
  max-width: 20rem;
  box-shadow: 0.1rem 0.1rem 3rem 0.1rem var(--Grayish-blue);
  border-radius: 1rem;
  background-color: var(--White);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

img {
  margin: 1rem 1rem 0.2rem 1rem;
  height: auto;
  max-width: 18rem;
  border-radius: 0.5rem;
}

.text-container {
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 1.5rem 2rem 1.5rem;
}

.bold-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--Dark-blue);
}

.small-text {
  font-size: 15px;
  color: var(--Grayish-blue);
}
